@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    4695 Hartel St Apt D<br />
    Beaumont, TX, USA<br />
    (409)-600-5899
</address>

<address>
    <strong>Personal Email:</strong>   <a href="mailto:oyeshsin@hotmail.com">oyeshsin@hotmail.com</a><br />
    <strong>School Email:</strong> <a href="mailto:osingh@lamar.edu">osingh@lamar.edu</a>
</address>